<%= form_for(@article) do |f|%>
		<% @article.errors.full_messages.each do |message| %>
			<div class = "error field">
				* <%=message%>
			</div>
		<%end%>

		<div class="field">
			<%= f.text_field :title, placeholder: "Titulo",class:"form-control"%>
		</div>

		<div class="field">
			<%= f.text_area :body, placeholder: "Escribe aqui el articulo", style: "height:250px;",class:"form-control" %>
		</div>
		<div class="field">
			<%= f.submit "Guardar",class:"btn"%>
		</div>

<%end%>